/* {
  border: 1px solid black;
}*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/*vill ha samma typsnitt/font i hela dokumentet*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
}

header {
  height: 100px;
  display: flex;
}
/*sidans logotype-Namn style*/
#logoName {
  margin: 20px;
  font-size: 40px;
  color: rgb(40, 98, 148);
}

/*sociala medier position*/
.container-logo {
  display: flex;
  flex: 1;
}

#logo {
  padding: 30px;
}

/*sociala medier knapparna utseende*/
.fa {
  padding: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  margin: 3px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  margin: 3px;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  margin: 3px;
}

.fa-instagram {
  background: #125688;
  color: white;
  margin: 3px;
}

/*Öarna som utgör öckerö kommun*/
#top {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#topText {
  text-align: center;
  padding: 10px;
}

/*Karta font*/
.islandName {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  border-bottom: 2px dotted black;
}

/*bild - lådan*/
.islandContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

#map {
  width: 900px;
  height: fit-content;
}

#islandChild {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.islandPage {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.flex-button {
  display: flex;
  flex-direction: column;
}

/*container för infosidorna för öarna*/
.islandName {
  padding: 10px;
  text-align: center;
  font-size: 50px;
  border-bottom: 2px dotted black;
}

/*Info och sök ruta*/

#search {
  display: flex;
  flex-direction: column;
  border: 2px solid #6e9cc1;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
  background-color: #6e9cc1;
}

.decoration {
  color: white;
  text-decoration: none;
}

#fsearch {
  border-radius: 5px;
  border: none;
}
